body {
  margin: 0 auto;
  background: #f8f8f8;
}

header {
  width: 100%;
  background: white;
  box-shadow: 2px 2px 4px lightgray;
  text-align: center;
}

header img {
  margin-top: 15px;
  height: 50px;
  padding-left: 40px;
}


header {
  width: 100%;
  background: white;
  box-shadow: 2px 2px 4px lightgray;
  text-align: center;
}


main {
  clear: left;
  width: 100%;
}

.confirm {
  margin: 0 auto;
  border: lightgray solid 2px;
  width: 600px;
  background: white;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
  box-shadow: 4px 4px 4px lightgray;
  padding: 30px 25px;
}

h2 {
  text-align: center;
  border-bottom: solid 1px #31A263;
  font-size: 20px;
}

.toroku {
  text-align: center;
}
p:not(.toroku) {
  margin-left: 10px;
}

.button {
  text-align: center;
}

form {
  display: inline-block;
}

.btn1{
  display: inline-block;
  border: 1px solid lightgray;
  padding: 6px 30px 4px 30px;
  color: white;
  background: lightgray;
  border-bottom: solid 2px gray;
  width: 160px;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 2px 1px 1px lightgray ;
}


.btn2{
  border: 1px solid lightgray;
  padding: 6px 30px 4px 30px;
  color: white;
  background: #31A263;
  border-bottom: solid 2px gray;
  width: 160px;
  margin-bottom: 30px;
  margin-left: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 1px lightgray ;
}


footer {
  width: 100%;
  height: 40px;
  background: white;
  color: gray;
  text-align: center;
  line-height: 40px;
  font-size: 13px;
  border-top: lightgray solid 2px;
}